body,
input {
    font-family: 'Poppins', sans-serif;
}

#wordToComplete,
#complete {
    width: 33.33vw;
    height: 4.526vh;
    line-height: 4.526vh;
    margin: 0 auto;
    position: absolute;
    border: 0.283vh solid #ddd;
    top: 35%;
    left: 33%;
    font-size: medium;

}

#wordToComplete {
    z-index: 2;
    padding: 0 1.131vh;
    background-color: transparent;
}

#complete {

    z-index: 1;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 1.131vh;
}